  <header style="background-image: url('http://cfile7.uf.tistory.com/image/2765F9465300744901A944')">
    <br>
  <div class="container">
      <div class="row">
    <br>
    <h2 style="text-align: center; background-color:#F582A6; padding-top:20px; padding-bottom:20px; border-radius:15px; border: 2px solid black; color:white">당신의 마음을 전해보세요</h2>
    <br>
    
    <form action="/write" method="post">
      <div class="form-group">
      <div class="form-group">
        <label for="exampleInputEmail2">받는 사람</label>
        <input name="email2" type="email" class="form-control" id="exampleInputEmail2" placeholder="His/Her Email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">이메일 제목</label>
        <input name="title" type="text" class="form-control" id="exampleInputEmail2" placeholder="Title of Email">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">이메일 내용</label>
        <textarea name="content" class="form-control" rows="5" id="comment" placeholder="text"></textarea>
      </div>
      <br>
       <button type="submit" class="btn btn-default" style="margin-left:48%">전송하기</button> </form>
    <br>
    <br>
    </div>
</div>
</body>