<body style="margin-top:100px; margin-left:100px">
<div class="controller">  
<h1>메일이 전송되었습니다</h1>
<br>
<h3>보내신 메일의 제목은</h3>
<%= @title %>
<h3>보내신 메일의 수신자는</h3>
<%= @email2 %>
<h3>보내신 메일의 내용은</h3>
<%= @content %>
<br>
<a href="/">메인으로 돌아가기</a>
</div>